* {
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: floralwhite;
}

body div.cont{
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover{
    background: darkcyan;
}
nav ul li a:hover{
    color: #fff;
}
nav ul li a:visited{
    color: #fff;
}


h1{
    display: block;
    padding-left: 20px;
    text-align: center, left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    text-align: left;
    font-style: italic;
}

p{
    text-align: justify;
}

#foto {
    padding-top: 10px;
    display: block;
    width: 200px;
    height: 200px;
}

#nombre {
    display: block;
    padding-top: 10px;
}

#frase p{
    text-align: center;
    font-size: larger;
    font-style: oblique;
}
#datosP {
    display: block;
    padding-left: 10px;
    padding-bottom: 30px;
    background-color: lightgray;
}

.td #izquierda{
    text-align: right;
}

#enviar{
    display: block;
    width: 150px;
    padding: 3px;
    margin-top: 4px;
    background: grey;
    color: #fff;
}


